.pointLineGraph{
	fill: none;
	stroke: darkred;
	stroke-width:2;
}

.pointScatterPlot{
	fill: white;
	stroke: steelblue;
	stroke-width:1;
}

.sinLineGraph{
	fill: none;
	stroke-width:2;
	stroke: darkblue;
}

.sinScatterPlot{
	fill: white;
	stroke: steelblue;
	stroke-width:1;
}